@font-face {
    font-family: 'Rosatom_light';
    src: url('../fonts/rosatom/Rosatom-Light.woff2') format('woff2'),
    url('../fonts/rosatom/Rosatom-Light.woff') format('woff'),
    url('../fonts/rosatom/Rosatom-Light.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rosatom_regular';
    src: url('../fonts/rosatom/Rosatom-Regular.woff2') format('woff2'),
    url('../fonts/rosatom/Rosatom-Regular.woff') format('woff'),
    url('../fonts/rosatom/Rosatom-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rosatom_bold';
    src: url('../fonts/rosatom/Rosatom-Bold.woff2') format('woff2'),
    url('../fonts/rosatom/Rosatom-Bold.woff') format('woff'),
    url('../fonts/rosatom/Rosatom-Bold.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

html {
    width: 100vw;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content-fade {
    scroll-behavior: smooth;
    animation: fade-in 0.7s ease-in-out;
    transition: opacity 0.5s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-48px-bold {
    font-size: 48px;
    font-family: "Rosatom_bold", serif;
    color: #1D222A;
}

.text-36px-bold {
    font-size: 36px;
    font-family: "Rosatom_bold", serif;
    color: #1D222A;
}

.text-36px-regular {
    font-size: 36px;
    font-family: "Rosatom_regular", serif;
    color: #1D222A;
}

.text-36px-light {
    font-size: 36px;
    font-family: "Rosatom_light", serif;
    color: #1D222A;
}

.text-32px-bold {
    font-size: 32px;
    font-family: "Rosatom_bold", serif;
    color: #1D222A;
}

.text-32px-regular {
    font-size: 32px;
    font-family: "Rosatom_regular", serif;
    color: #1D222A;
}

.text-32px-light {
    font-size: 32px;
    font-family: "Rosatom_light", serif;
    color: #1D222A;
}

.text-24px-bold {
    font-size: 24px;
    font-family: "Rosatom_bold", serif;
    color: #1D222A;
}

.text-24px-regular {
    font-size: 24px;
    font-family: "Rosatom_regular", serif;
    color: #1D222A;
}

.text-24px-light {
    font-size: 24px;
    font-family: "Rosatom_light", serif;
    color: #1D222A;
}

.text-22px-bold {
    font-size: 22px;
    font-family: "Rosatom_bold", serif;
    color: #1D222A;
}

.text-22px-regular {
    font-size: 22px;
    font-family: "Rosatom_regular", serif;
    color: #1D222A;
}

.text-22px-light {
    font-size: 22px;
    font-family: "Rosatom_light", serif;
    color: #1D222A;
}


.text-20px-bold {
    font-size: 20px;
    font-family: "Rosatom_bold", serif;
    color: #1D222A;
}

.text-20px-regular {
    font-size: 20px;
    font-family: "Rosatom_regular", serif;
    color: #1D222A;
}

.text-20px-light {
    font-size: 20px;
    font-family: "Rosatom_light", serif;
    color: #1D222A;
}


.text-18px-bold {
    font-size: 18px;
    font-family: "Rosatom_bold", serif;
    color: #1D222A;
}

.text-18px-regular {
    font-size: 18px;
    font-family: "Rosatom_regular", serif;
    color: #1D222A;
}

.text-18px-light {
    font-size: 18px;
    font-family: "Rosatom_light", serif;
    color: #1D222A;
}

.text-16px-light {
    font-size: 16px;
    font-family: "Rosatom_light", serif;
    color: #1D222A;
}

.red_text_error {
    margin-right: 90px;
    color: rgb(255, 214, 214);
    font-size: 24px;
    font-family: "Rosatom_bold", serif;
}

.dashed_text {
    /*font-size: 25px;*/
    /*text-decoration: none;*/
    /*border-bottom: 1px dashed rgb(108, 172, 228);*/
    cursor: pointer;
    color: rgb(108, 172, 228);
    text-decoration: underline;
    text-decoration-style: dotted;
}

.dashed_text:hover {
    color: #025EA1;
    text-decoration: underline;
    text-decoration-style: dotted;
}


.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}

.my_form {

}


.input_my_form {
    display: none;
}

.my_form label {
    display: flex;
    min-width: 100%;
    min-height: 100px;
    margin-top: 35px;
    justify-content: start;
    align-items: start;
    text-align: start;
    padding-left: 11px;
    padding-top: 5px;
    /*border: 0;*/
    border-radius: 8px;
    background-color: rgb(249, 249, 249);
    border: 1.5px solid rgb(108, 172, 228);
    font-size: 20px;
    font-family: "Rosatom_light", serif;
    /*text-transform: uppercase;*/
    color: rgb(108, 172, 228);
    transition-duration: .15s;
}

.my_form label:hover {
    box-shadow: 0px 0px 8px 0px rgba(2, 94, 161, 0.2);
}

.my_form label:active {
    background-color: rgb(234, 234, 234);
    box-shadow: 2px 4px 11px -3px rgba(2, 94, 161, 0.45);
}

.grey_background {
    background-color: rgba(128, 128, 128, 0.1);
}

.border_body {
    padding: 25px;
    border: dashed black;
}


.button_blue_modal_outline {
    background: white;
    padding: 8px;
    min-height: 25px;
    border: 1px solid rgb(108, 172, 228);
    border-radius: 8px;
    font-size: 16px;
    font-family: "Rosatom_light", serif;
    color: #1D222A;
    transition-duration: .15s;
}

.button_blue_modal_outline:hover {
    box-shadow: 2px 4px 11px -3px rgba(2, 94, 161, 0.45);
}


.button_grey_modal_outline {
    background: white;
    padding: 8px;
    min-height: 25px;
    border: 1px solid grey;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Rosatom_light", serif;
    color: #1D222A;
    transition-duration: .15s;
}

.button_grey_modal_outline:hover {
    box-shadow: 2px 4px 11px -3px;
}

.input_text {
    width: auto;
    height: 45px;
    padding: 12px 20px;
    /*width: 100%;*/
    border: 1px solid rgb(108, 172, 228);
    border-radius: 8px;
    box-shadow: 2px 4px 11px -3px rgba(2, 94, 161, 0.45);
    font-size: 18px;
    font-family: "Rosatom_regular", serif;
}

.input_text:disabled {
    border: 1px solid rgb(176, 181, 185);
    box-shadow: 2px 4px 11px -3px rgba(149, 150, 150, 0.45);
    color: grey;
}

.input_text[type="text"]:disabled {
    border: 1px solid rgb(176, 181, 185);
    box-shadow: 2px 4px 11px -3px rgba(149, 150, 150, 0.45);
    color: grey;
}


.input_text_clearance {
    width: auto;
    height: 45px;
    /*padding: 12px 20px;*/
    /*width: 100%;*/
    border: 1px solid rgb(108, 172, 228);
    border-radius: 8px;
    /*box-shadow: 2px 4px 11px -3px rgba(2, 94, 161, 0.45);*/
    font-size: 20px;
    font-family: "Rosatom_regular", serif;
}

.input_text_clearance:disabled {
    border: 1px solid rgb(176, 181, 185);
    /*box-shadow: 2px 4px 11px -3px rgba(149, 150, 150, 0.45);*/
    color: grey;
}

.input_text_clearance[type="text"]:disabled {
    border: 1px solid rgb(176, 181, 185);
    /*box-shadow: 2px 4px 11px -3px rgba(149, 150, 150, 0.45);*/
    color: grey;
}


.button_blue {
    min-width: 200px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(108, 172, 228);
    font-size: 18px;
    font-family: "Rosatom_regular", serif;
    color: white;
    transition-duration: .15s;
}

.button_blue:hover {
    box-shadow: 2px 4px 11px -3px rgba(2, 94, 161, 0.45);
}

.button_blue:active {
    background: rgb(93, 148, 196);
    box-shadow: 2px 4px 11px -3px rgba(2, 94, 161, 0.45);

}

.modal_clearance {
    border: 1px solid rgb(174, 211, 242);
}

.modal-backdrop {
    background-color: rgb(239, 239, 239);
    opacity: 1;
}

.modal-content_clearance {
    border-radius: 8px;
    border: 1px solid rgb(174, 211, 242);
}

.modal-header_clearance {
    border: 0;
    padding-top: 20px;
    padding-bottom: 1rem;
    padding-left: 30px;
    padding-right: 30px;

}

.modal-body_clearance {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 30px;
    padding-right: 30px;
}


.modal-footer_clearance {
    border: 0;
    padding-top: 1rem;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.modal-footer > * {
    margin: 0
}

.button_blue_clearance {
    width: 123px;
    height: 40px;
    border: rgb(174, 211, 242);
    border-radius: 8px;
    background: rgb(174, 211, 242);
    font-size: 20px;
    font-family: "Rosatom_regular", serif;
    color: white;
    transition-duration: .15s;
}

.button_blue_clearance:hover {
    box-shadow: 2px 4px 11px -3px rgba(2, 94, 161, 0.45);
}

.button_grey_clearance {
    width: 123px;
    height: 40px;
    border: rgb(212, 213, 217);;
    border-radius: 8px;
    background: rgb(212, 213, 217);;
    font-size: 20px;
    font-family: "Rosatom_regular", serif;
    color: white;
    transition-duration: .15s;
}

.button_grey_clearance:hover {
    box-shadow: 2px 4px 11px -3px rgba(171, 171, 171, 0.45);
}

.modal-dialog_clearance {
    width: 450px;
    height: 225px;

}


.button_blue_clean_result {
    width: 100%;
    background: rgb(174, 211, 242);;
    padding: 8px;
    height: 44px;
    border: 0;
    /*border: 1px solid rgb(108, 172, 228);*/
    border-radius: 8px;
    font-size: 18px;
    font-family: "Rosatom_regular", serif;
    color: white;
    transition-duration: .15s;
}

.button_blue_clean_result:hover {
    box-shadow: 2px 4px 11px -3px rgba(2, 94, 161, 0.45);
}

.button_blue_clean_result:active {
    background: rgb(93, 148, 196);
    box-shadow: 2px 4px 11px -3px rgba(2, 94, 161, 0.45);

}


.button_blue_details_outline {

    /*background: rgb(174, 211, 242);*/
    background: white;
    /*padding: 8px;*/
    width: 280px;
    height: 44px;
    border: 1px solid rgb(108, 172, 228);
    border-radius: 8px;
    font-size: 20px;
    font-family: "Rosatom_regular", serif;
    color: rgb(108, 172, 228);;
    transition-duration: .15s;
    align-items: center;
    text-align: center;
}

.button_blue_details_outline:hover {
    box-shadow: 2px 4px 11px -3px rgba(2, 94, 161, 0.45);
}

.button_blue_details_outline:active {
    background: rgb(93, 148, 196);
    box-shadow: 2px 4px 11px -3px rgba(2, 94, 161, 0.45);

}

.green_el {
    background-color: rgb(227, 243, 216);
    margin-right: 18px;
    padding: 13px 24px;
    border-radius: 6px;
    width: 270px;
}

.red_el {
    background-color: rgb(253, 231, 231);
    margin-left: 18px;
    margin-right: 18px;
    padding: 13px 20px;
    border-radius: 6px;
    width: 290px;
}

.inside_result {
    width: 1075px
}

.border_right {
    border-right: 1px solid rgb(212, 213, 217);
}

.border_left {
    border-left: 1px solid rgb(212, 213, 217);
    padding-left: 18px
}

@media (max-width: 991px) {
    .green_el {
        background-color: white;
    }

    .red_el {
        background-color: white;
        margin-left: 0;
    }

    .border_left {
        border: 0;
    }

    .border_right {
        border: 0;
    }


}


.vertical {
    display: flex;
    border-left: 1px solid rgb(212, 213, 217);
    height: 100%;
}