{% for obj in all_tasks %}
    <tr class="tr-tables" style="cursor: context-menu;
            {% if obj.status == 0 %}
                background-color: rgba(255,175,175,0.15);
            {% elif obj.status == 1 %}
                background-color: rgba(255,240,115,0.15);
            {% elif obj.status == 2 %}
                background-color: rgba(108,172,228,0.15);
            {% elif obj.status == 3 %}
                background-color: rgba(140,206,90,0.15);
            {% endif %};
            " onclick="openModalWindow({{ obj.id }})">
        <th class="th_tables" scope="row" style="width: 30px">{{ forloop.counter }}</th>
        <td class="td_tables" style="width: 100px; text-align: center">
            {{ obj.inventory_number_request }}</td>
        <td class="td_tables" style=" text-align: center">
            {{ obj.emp_upload_file.last_name }} {{ obj.emp_upload_file.first_name|slice:':1' }}.{{ obj.emp_upload_file.middle_name|slice:':1' }}.
        </td>
        <td class="td_tables" style="width: 75px; text-align: center">
            {{ obj.order.order }}
        </td>
        <td class="td_tables" style="width: 75px; text-align: center"
            data-toggle="tooltip" data-bs-placement="bottom"
            rel="txtTooltip" data-bs-html="true"
            title="{{ obj.object }}">
            {{ obj.object.object_code|truncatechars:50 }}
        </td>
        <td class="td_tables" style="width: 175px; text-align: center"
            data-toggle="tooltip" data-bs-placement="bottom"
            rel="txtTooltip" data-bs-html="true">
            {{ obj.inventory_number_file|truncatechars:50 }}
        </td>
        <td class="td_tables" style="width: 50px; text-align: center">
            {{ obj.count_pages }}
        </td>
        <td class="td_tables" style="width: 150px; text-align: center">
            {{ obj.add_file_date }}
        </td>
        <td class="td_tables" style="width: 150px; text-align: center"
                {% if obj.status == 2 or obj.status == 3 %}
            data-toggle="tooltip" data-bs-placement="bottom"
            rel="txtTooltip" data-bs-html="true"
            title="{{ obj.date_change_status }}"
                {% endif %}>
            {{ obj.get_status_display }}
        </td>

    </tr>
{% endfor %}
