<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
        {% if len_other_black_lists > 1 or len_other_color_lists > 1 %}
     style="width: 950px">
        {% else %}
            style="max-width: 700px">
        {% endif %}
<form class="d-flex w-100" style="max-height: 100%; width: 100%" id="form_edit_lists_task" method="POST"
      data-ajax-url="{% url 'get-edit-lists-modal' %}">
    {% csrf_token %}
    <div class="modal-content modal-content_clearance">

        <div class="modal-header modal-header_clearance">
            <h5 class="modal-title text-24px-regular" style="cursor: context-menu">
                Редактировать листы {{ obj.inventory_number_request }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
        </div>


        <div class="modal-body d-flex flex-row justify-content-between w-100 scroll scroll-width-thin">
            <input name="obj_id" id="obj_id" hidden>
            <div class="d-flex flex-row w-100 justify-content-between">
                <!-- Левая часть-->

                <div class="d-flex w-100 flex-column" style="padding-right: 18px">
                    <div class="d-flex text-20px-light justify-content-start">
                        Черно-белый
                    </div>
                    <div class="d-flex w-100 flex-row">
                        <!-- A4-->
                        <div class="d-flex w-100 flex-column">
                            <div class="d-flex w-100 flex-row justify-content-start align-items-center mt-2"
                                 style="padding-left: 18px">
                                <div class="d-flex text-20px-regular" style="margin-right: 15px">A4</div>
                                <div class="d-flex">
                                    <input class="input_text_clearance input_text_change_lists" type="text"
                                           name="input_a4" id="input_a4">
                                </div>
                            </div>

                            <!-- A3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2"
                                 style="padding-left: 18px">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3" id="input_a3">
                                    </div>
                                </div>
                            </div>

                            <!-- A2-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2"
                                 style="padding-left: 18px">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A2</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a2" id="input_a2">
                                    </div>
                                </div>
                            </div>

                            <!-- A1-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2"
                                 style="padding-left: 18px">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A1</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a1" id="input_a1">
                                    </div>
                                </div>
                            </div>

                            <!-- A0-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2"
                                 style="padding-left: 18px">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A0</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a0" id="input_a0">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-5">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x3" id="input_a4x3">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х4-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х4</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x4" id="input_a4x4">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х5-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х5</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x5" id="input_a4x5">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х6-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х6</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x6" id="input_a4x6">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х7-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х7</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x7" id="input_a4x7">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х8-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х8</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x8" id="input_a4x8">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х8-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х9</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x9" id="input_a4x9">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex w-100 flex-column">
                            <!-- A3х3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3х3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3x3" id="input_a3x3">
                                    </div>
                                </div>
                            </div>

                            <!-- A3х4-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3х4</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3x4" id="input_a3x4">
                                    </div>
                                </div>
                            </div>

                            <!-- A3х5-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3х5</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3x5" id="input_a3x5">
                                    </div>
                                </div>
                            </div>

                            <!-- A3х6-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3х6</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3x6" id="input_a3x6">
                                    </div>
                                </div>
                            </div>

                            <!-- A3х7-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3х7</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3x7" id="input_a3x7">
                                    </div>
                                </div>
                            </div>


                            <!-- A2х3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-5">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A2х3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a2x3" id="input_a2x3">
                                    </div>
                                </div>
                            </div>


                            <!-- A2х4-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A2х4</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a2x4" id="input_a2x4">
                                    </div>
                                </div>
                            </div>

                            <!-- A2х5-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A2х5</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a2x5" id="input_a2x5">
                                    </div>
                                </div>
                            </div>

                            <!-- A1х3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A1х3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a1x3" id="input_a1x3">
                                    </div>
                                </div>
                            </div>

                            <!-- A1х4-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A1х4</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a1x4" id="input_a1x4">
                                    </div>
                                </div>
                            </div>


                            <!-- A0х2-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A0х2</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a0x2" id="input_a0x2">
                                    </div>
                                </div>
                            </div>

                            <!-- A0х3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A0х3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a0x3" id="input_a0x3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %}
                        {% if len_other_black_lists > 0 %}
                            <!-- Нераспознанные чб -->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-5">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-light" style="margin-right: 15px; line-height: 110%">
                                        Нераспознанные<br>
                                        черно-белые
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column">
                                {% for key, value in other_black_lists.items %}
                                    <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                        <div class="d-flex flex-row  align-items-center">
                                            <div class="d-flex text-20px-regular"
                                                 style="margin-right: 15px">{{ key }}</div>
                                            <div class="d-flex">
                                                <input class="input_text_clearance input_text_change_lists" type="text"
                                                       name="{{ key }}" id="{{ key }}">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

{% endcomment %}
                </div>

                <!-- Центральная часть-->
                <div class="d-flex w-100 flex-column">
                    <div class="d-flex text-20px-light justify-content-start" style="padding-left: 18px">
                        Цветной
                    </div>
                    <div class="d-flex w-100 flex-row border_left
                            {% if len_other_black_lists > 1 or len_other_color_lists > 1 %}
                            border_right{% endif %}"
                            {% if len_other_black_lists > 1 or len_other_color_lists > 1 %}
                         style="padding-right: 18px"
                            {% endif %}
                    >

                        <!-- A4-->
                        <div class="d-flex w-100 flex-column">
                            <div class="d-flex w-100 flex-row justify-content-start align-items-center mt-2"
                                 style="padding-left: 18px">
                                <div class="d-flex text-20px-regular" style="margin-right: 15px">A4</div>
                                <div class="d-flex">
                                    <input class="input_text_clearance input_text_change_lists" type="text"
                                           name="input_a4_color" id="input_a4_color">
                                </div>
                            </div>

                            <!-- A3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2"
                                 style="padding-left: 18px">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3_color" id="input_a3_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A2-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2"
                                 style="padding-left: 18px">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A2</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a2_color" id="input_a2_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A1-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2"
                                 style="padding-left: 18px">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A1</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a1_color" id="input_a1_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A0-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2"
                                 style="padding-left: 18px">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A0</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a0_color" id="input_a0_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-5">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x3_color" id="input_a4x3_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х4-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х4</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x4_color" id="input_a4x4_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х5-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х5</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x5_color" id="input_a4x5_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х6-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х6</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x6_color" id="input_a4x6_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х7-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х7</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x7_color" id="input_a4x7_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х8-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х8</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x8_color" id="input_a4x8_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A4х9-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A4х9</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a4x9_color" id="input_a4x9_color">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex w-100 flex-column">
                            <!-- A3х3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3х3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3x3_color" id="input_a3x3_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A3х4-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3х4</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3x4_color" id="input_a3x4_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A3х5-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3х5</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3x5_color" id="input_a3x5_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A3х6-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3х6</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3x6_color" id="input_a3x6_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A3х7-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A3х7</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a3x7_color" id="input_a3x7_color">
                                    </div>
                                </div>
                            </div>


                            <!-- A2х3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-5">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A2х3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a2x3_color" id="input_a2x3_color">
                                    </div>
                                </div>
                            </div>


                            <!-- A2х4-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A2х4</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a2x4_color" id="input_a2x4_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A2х5-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A2х5</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a2x5_color" id="input_a2x5_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A1х3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A1х3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a1x3_color" id="input_a1x3_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A1х4-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A1х4</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a1x4_color" id="input_a1x4_color">
                                    </div>
                                </div>
                            </div>


                            <!-- A0х2-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A0х2</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a0x2_color" id="input_a0x2_color">
                                    </div>
                                </div>
                            </div>

                            <!-- A0х3-->
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-row  align-items-center">
                                    <div class="d-flex text-20px-regular" style="margin-right: 15px">A0х3</div>
                                    <div class="d-flex">
                                        <input class="input_text_clearance input_text_change_lists" type="text"
                                               name="input_a0x3_color" id="input_a0x3_color">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% comment %}
                        <!-- Нераспознанные цветные -->
                        <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2"
                             style="padding-left: 18px">
                            <div class="d-flex flex-row  align-items-center">
                                <div class="d-flex text-20px-light" style="margin-right: 15px; line-height: 110%">
                                    Нераспознанные<br>
                                    цветные
                                </div>
                                <div class="d-flex">{{ other_color_lists }}</div>
                            </div>
                        </div>
                        {% endcomment %}


                </div>
                {% if len_other_black_lists > 0 %}
                    <!-- Правая часть-->
                    <div class="d-flex w-100 flex-column">


                        <!-- Нераспознанные чб -->
                        <div class="d-flex text-20px-light justify-content-start" style="padding-left: 18px">
                            Нераспознанные
                        </div>

                        <div class="d-flex flex-column" style="padding-left: 18px">
                            {% for key, value in other_black_lists.items %}
                                <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                    <div class="d-flex flex-row  align-items-center">
                                        <div class="d-flex text-20px-regular"
                                             style="margin-right: 15px">{{ key }}</div>
                                        <div class="d-flex">
                                            <input class="input_text_clearance input_text_change_lists" type="text"
                                                   name="{{ key }}" id="{{ key }}">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                {% endif %}

            </div>
        </div>
        <div class="modal-footer modal-footer_clearance justify-content-between">

            <button type="button" class="button_grey_clearance"
                    data-bs-dismiss="modal"
                    onclick="$('#changeDetailListsModalWindow').modal('hide');">Отмена
            </button>
            <button class="button_blue_clearance button_blue_clearance_send_file" type="submit">
                Отправить
            </button>

        </div>

    </div>
</form>
</div>


<script>
    $(document).ready(function () {
        document.getElementById('obj_id').value = {{ obj.id }};
        document.getElementById('input_a4').value = {{ lists_of_task.a4 }};
        document.getElementById('input_a4_color').value = {{ lists_of_task.a4_color }};
        document.getElementById('input_a3').value = {{ lists_of_task.a3 }};
        document.getElementById('input_a3_color').value = {{ lists_of_task.a3_color }};
        document.getElementById('input_a2').value = {{ lists_of_task.a2 }};
        document.getElementById('input_a2_color').value = {{ lists_of_task.a2_color }};
        document.getElementById('input_a1').value = {{ lists_of_task.a1 }};
        document.getElementById('input_a1_color').value = {{ lists_of_task.a1_color }};
        document.getElementById('input_a0').value = {{ lists_of_task.a0 }};
        document.getElementById('input_a0_color').value = {{ lists_of_task.a0_color }};
        document.getElementById('input_a4x3').value = {{ lists_of_task.a4x3 }};
        document.getElementById('input_a4x3_color').value = {{ lists_of_task.a4x3_color }};
        document.getElementById('input_a4x4').value = {{ lists_of_task.a4x4 }};
        document.getElementById('input_a4x4_color').value = {{ lists_of_task.a4x4_color }};
        document.getElementById('input_a4x5').value = {{ lists_of_task.a4x5 }};
        document.getElementById('input_a4x5_color').value = {{ lists_of_task.a4x5_color }};
        document.getElementById('input_a4x6').value = {{ lists_of_task.a4x6 }};
        document.getElementById('input_a4x6_color').value = {{ lists_of_task.a4x6_color }};
        document.getElementById('input_a4x7').value = {{ lists_of_task.a4x7 }};
        document.getElementById('input_a4x7_color').value = {{ lists_of_task.a4x7_color }};
        document.getElementById('input_a4x8').value = {{ lists_of_task.a4x8 }};
        document.getElementById('input_a4x8_color').value = {{ lists_of_task.a4x8_color }};
        document.getElementById('input_a4x9').value = {{ lists_of_task.a4x9 }};
        document.getElementById('input_a4x9_color').value = {{ lists_of_task.a4x9_color }};
        document.getElementById('input_a3x3').value = {{ lists_of_task.a3x3 }};
        document.getElementById('input_a3x3_color').value = {{ lists_of_task.a3x3_color }};
        document.getElementById('input_a3x4').value = {{ lists_of_task.a3x4 }};
        document.getElementById('input_a3x4_color').value = {{ lists_of_task.a3x4_color }};
        document.getElementById('input_a3x5').value = {{ lists_of_task.a3x5 }};
        document.getElementById('input_a3x5_color').value = {{ lists_of_task.a3x5_color }};
        document.getElementById('input_a3x6').value = {{ lists_of_task.a3x6 }};
        document.getElementById('input_a3x6_color').value = {{ lists_of_task.a3x6_color }};
        document.getElementById('input_a3x7').value = {{ lists_of_task.a3x7 }};
        document.getElementById('input_a3x7_color').value = {{ lists_of_task.a3x7_color }};
        document.getElementById('input_a2x3').value = {{ lists_of_task.a2x3 }};
        document.getElementById('input_a2x3_color').value = {{ lists_of_task.a2x3_color }};
        document.getElementById('input_a2x4').value = {{ lists_of_task.a2x4 }};
        document.getElementById('input_a2x4_color').value = {{ lists_of_task.a2x4_color }};
        document.getElementById('input_a2x5').value = {{ lists_of_task.a2x5 }};
        document.getElementById('input_a2x5_color').value = {{ lists_of_task.a2x5_color }};
        document.getElementById('input_a1x3').value = {{ lists_of_task.a1x3 }};
        document.getElementById('input_a1x3_color').value = {{ lists_of_task.a1x3_color }};
        document.getElementById('input_a1x4').value = {{ lists_of_task.a1x4 }};
        document.getElementById('input_a1x4_color').value = {{ lists_of_task.a1x4_color }};
        document.getElementById('input_a0x2').value = {{ lists_of_task.a0x2 }};
        document.getElementById('input_a0x2_color').value = {{ lists_of_task.a0x2_color }};
        document.getElementById('input_a0x3').value = {{ lists_of_task.a0x3 }};
        document.getElementById('input_a0x3_color').value = {{ lists_of_task.a0x3_color }};
        {% for key, value in other_black_lists.items %}
            document.getElementById('{{ key }}').value = {{ value }};
        {% endfor %}
    })


    $('#form_edit_lists_task').submit(function (e) {
        e.preventDefault()
        {#document.getElementById('obj_id_for_change_status').value = $("#hidden-div-obj-info").attr("data-ajax-change")#}
        var form = $(this)
        var form_url = $("#form_edit_lists_task").attr("data-ajax-url")

        $.ajax({
            type: "POST",
            url: form_url,
            data: form.serialize(),
            success: function (data) {
                $('#changeDetailListsModalWindow').modal('hide');
            },
            error: function () {
                $('#changeDetailListsModalWindow').modal('hide');
                $('#error_modal').modal('show');
            }
        })
    })
</script>
