<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog_change-status">
    <div class="modal-content modal-content_clearance">
        <div class="modal-header modal-header_clearance">
            <h5 class="modal-title text-24px-regular"
                style="cursor: context-menu">{{ obj.inventory_number_request }}</h5>
            <div>
                <button id="change_lists" class="icon-edit-lists" data-bs-dismiss="modal"
                        aria-label="Close" data-ajax-id='{{ obj.id }}'></button>
                <button id="change_task" class="icon-edit" data-bs-dismiss="modal"
                        aria-label="Close" data-ajax-id='{{ obj.id }}'></button>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
        </div>
        <form id="form_send_status_file" method="POST" action="" data-ajax-url="{% url 'get-tasks-print' %}">
            {% csrf_token %}
            <div class="modal-body modal-body_clearance">
                <div class="d-flex row flex-row w-100">

                    <!-- Левая часть-->
                    <div class="d-flex col-7 justify-content-between align-items-center flex-column border_right">
                        <div class="d-flex w-100 flex-row justify-content-between align-items-center">
                            <div class="d-flex text-20px-light ">Инв. №</div>
                            <div class="d-flex text-20px-light padding-left-30 text-align-end">{{ obj.inventory_number_file }}</div>
                        </div>

                        <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                            <div class="d-flex text-20px-light">Автор</div>
                            <div class="d-flex text-20px-light padding-left-30 text-align-end">{{ obj.emp_upload_file.last_name }} {{ obj.emp_upload_file.first_name|slice:':1' }}.{{ obj.emp_upload_file.middle_name|slice:':1' }}.
                                (тел. {{ obj.emp_upload_file.user_phone }})
                            </div>
                        </div>

                        <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                            <div class="d-flex text-20px-light">Отдел</div>
                            <div class="d-flex text-20px-light padding-left-30 text-align-end">{{ obj.emp_upload_file.department.command_number }}, {{ obj.emp_upload_file.department_group.group_dep_abr }}</div>
                        </div>

                        <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                            <div class="d-flex text-20px-light">Заказчик</div>
                            <div class="d-flex text-20px-light padding-left-30 text-align-end">{{ obj.order }}</div>
                        </div>
                        {% if obj.object %}
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex text-20px-light">Объект</div>
                                <div class="d-flex text-20px-light padding-left-30 text-align-end"
                                     data-toggle="tooltip" data-bs-placement="bottom"
                                     rel="txtTooltip" data-bs-html="true"
                                     title="{{ obj.object }}">
                                    {{ obj.object|truncatechars:75 }}</div>
                            </div>
                        {% endif %}
                        {% if obj.contract %}
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex text-20px-light">Договор</div>
                                <div class="d-flex text-20px-light padding-left-30 text-align-end"
                                     data-toggle="tooltip" data-bs-placement="bottom"
                                     rel="txtTooltip" data-bs-html="true"
                                     title="{{ obj.contract.contract_name }}">{{ obj.contract.contract_name|truncatechars:50 }}</div>
                            </div>
                        {% endif %}
                        {% if obj.task_type_work != 0 %}
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex text-20px-light">Вид документации</div>
                                <div class="d-flex text-20px-light padding-left-30 text-align-end">{{ obj.get_task_type_work_display }}</div>
                            </div>
                        {% endif %}
                        <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                            <div class="d-flex text-20px-light">Марка</div>
                            <div class="d-flex text-20px-light padding-left-30 text-align-end">{{ obj.mark_print_file.mark_doc }}</div>
                        </div>
                        <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                            <div class="d-flex text-20px-light">Допуск подсчета</div>
                            <div class="d-flex text-20px-light padding-left-30 text-align-end">±{{ obj.user_clearance }}мм.</div>
                        </div>
                        <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                            <div class="d-flex text-20px-light">Количество копий</div>
                            <div class="d-flex text-20px-light padding-left-30 text-align-end">{{ obj.copy_count }}</div>
                        </div>


                        {% if obj.print_folding is not None %}
                            <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                                <div class="d-flex text-20px-light">Фальцовка</div>
                                <div class="d-flex text-20px-light padding-left-30 text-align-end">
                                    {% if obj.print_folding %}
                                        Требуется
                                    {% else %}
                                        Не требуется
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                            <div class="d-flex text-20px-light">Цветной</div>
                            <div class="d-flex text-20px-light padding-left-30 text-align-end">
                                {% if obj.color %}
                                    Да
                                {% else %}
                                    Нет
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- Правая часть-->
                    <div class="d-flex col-5 flex-column">
                        <div class="d-flex w-100 flex-row justify-content-between align-items-center">
                            <div class="d-flex text-20px-light">Количество листов</div>
                            <div class="d-flex text-20px-light padding-left-30 text-align-end">{{ obj.count_pages }}</div>
                        </div>
                        <div class="d-flex w-100 flex-row justify-content-between align-items-center mt-2">
                            <div class="d-flex text-20px-light">Количество форматов А4</div>
                            <div class="d-flex text-20px-light padding-left-30 text-align-end">{{ obj.a4_count_formats }}</div>
                        </div>
                        <div class="d-flex text-20px-light mt-2">Распознанные
                            {% if color_pages > 0 %}
                                ч/б
                            {% endif %}
                            форматы:
                        </div>
                        <div class="d-flex w-100 flex-row flex-wrap justify-content-between">
                            {% if obj_info.a0 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A0:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a0 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a0x2 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A0x2:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a0x2 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a0x3 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A0x3:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a0x3 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a1 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A1:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a1 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a1x3 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A1x3:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a1x3 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a1x4 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A1x4:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a1x4 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a2 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A2:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a2 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a2x3 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A2x3:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a2x3 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a2x4 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A2x4:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a2x4 }}</div>
                                </div>
                            {% endif %}


                            {% if obj_info.a2x5 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A2x5:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a2x5 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a3 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A3:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a3 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a3x3 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A3x3:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a3x3 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a3x4 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A3x4:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a3x4 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a3x5 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A3x5:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a3x5 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a3x6 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A3x6:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a3x6 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a3x7 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A3x7:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a3x7 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a4 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A4:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a4 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a4x3 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A4x3:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a4x3 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a4x4 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A4x4:</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a4x4 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a4x5 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A4x5:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a4x5 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a4x6 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A4x6:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a4x6 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a4x7 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A4x7:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a4x7 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a4x8 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A4x8:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a4x8 }}</div>
                                </div>
                            {% endif %}

                            {% if obj_info.a4x9 > 0 %}
                                <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                    <div class="d-flex text-20px-regular">A4x9:&nbsp;</div>
                                    <div class="d-flex text-20px-light">{{ obj_info.a4x9 }}</div>
                                </div>
                            {% endif %}
                        </div>


                        {% if color_pages > 0 %}
                            <div class="d-flex text-20px-light mt-2">Распознанные цветные форматы:</div>
                            <div class="d-flex w-100 flex-row flex-wrap justify-content-between">
                                {% if obj_info.a0_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A0:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a0_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a0x2_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A0x2:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a0x2_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a0x3_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A0x3:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a0x3_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a1_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A1:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a1_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a1x3_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A1x3:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a1x3_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a1x4_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A1x4:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a1x4_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a2_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A2:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a2_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a2x3_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A2x3:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a2x3_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a2x4_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A2x4:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a2x4_color }}</div>
                                    </div>
                                {% endif %}


                                {% if obj_info.a2x5_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A2x5:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a2x5_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a3_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A3:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a3_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a3x3_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A3x3:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a3x3_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a3x4_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A3x4:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a3x4_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a3x5_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A3x5:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a3x5_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a3x6_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A3x6:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a3x6_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a3x7_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A3x7:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a3x7_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a4_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A4:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a4_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a4x3_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A4x3:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a4x3_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a4x4_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A4x4:</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a4x4_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a4x5_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A4x5:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a4x5_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a4x6_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A4x6:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a4x6_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a4x7_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A4x7:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a4x7_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a4x8_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A4x8:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a4x8_color }}</div>
                                    </div>
                                {% endif %}

                                {% if obj_info.a4x9_color > 0 %}
                                    <div class="d-flex col-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">A4x9:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ obj_info.a4x9_color }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if len_bad_dict_temp > 0 %}
                            <div class="d-flex text-20px-light mt-2">Нераспознанные форматы:</div>
                            <div class="d-flex w-100 flex-row flex-wrap justify-content-between">

                                {% for key, value in bad_lists.items %}
                                    <div class="d-flex col-12 col-lg-5 flex-row justify-content-start align-items-center mt-2">
                                        <div class="d-flex text-20px-regular">{{ key }}:&nbsp;</div>
                                        <div class="d-flex text-20px-light">{{ value }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Нижняя часть окна -->
                <div class="d-flex w-100 justify-content-center align-items-center flex-column mt-3">
                    {% if obj.file_to_print %}
                        <div class="d-flex w-50 flex-row justify-content-between align-items-center mt-2">
                            <div class="d-flex text-20px-light">Файл</div>
                            <div class="d-flex text-20px-light"><a id="download_file"
                                                                   href="{% url 'download_file' obj.id %}"
                                                                   download>Скачать</a></div>
                        </div>
                    {% endif %}
                    <div class="d-flex w-50 flex-row justify-content-between align-items-center mt-2">
                        <div class="d-flex text-20px-light">Бланк</div>
                        <div class="d-flex text-20px-light">
                            <a href="#" class="service"
                               onclick='window.open("{% url "blank" obj.id %}","Popup", "location,status,scrollbars,resizable,width=800")'>
                                Скачать</a>
                        </div>
                    </div>
                    {% if obj.date_change_status %}
                        <div class="d-flex w-50 flex-row justify-content-between align-items-center mt-2">
                            <div class="d-flex text-20px-light">Статус изменен:</div>
                            <div class="d-flex text-20px-light">{{ obj.date_change_status }}</div>
                        </div>
                    {% endif %}
                    <div class="d-flex w-50 flex-row justify-content-between align-items-center mt-2">
                        <div class="d-flex text-20px-light">Статус</div>
                        <div class="d-none" id="hidden-div-obj-info" data-ajax-change="{{ obj.id }}"></div>
                        <input class="d-none" name='obj_id_for_change_status' id="obj_id_for_change_status">
                        <div class="d-flex">
                            <select class="form-select" style="min-width: 300px"
                                    name="TypeWorkTask_id"
                                    id="TypeWorkTask_id">
                                {% if obj.status == 0 %}
                                    <option value="0" selected>Отменен</option>
                                {% else %}
                                    <option value="0">Отменен</option>
                                {% endif %}
                                {% if obj.status == 1 %}
                                    <option value="1" selected>Актуален</option>
                                {% else %}
                                    <option value="1">Актуален</option>
                                {% endif %}
                                {% if obj.status == 2 %}
                                    <option value="2" selected>В работе</option>
                                {% else %}
                                    <option value="2">В работе</option>
                                {% endif %}
                                {% if obj.status == 3 %}
                                    <option value="3" selected>Готов</option>
                                {% else %}
                                    <option value="3">Готов</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="d-none w-50 flex-row justify-content-between align-items-center mt-2" id="WhyCancel">
                        {#                        <div class="d-flex text-20px-light">Причина</div>#}
                        <input type="text" class="d-flex w-100 input_text_clearance" name="WhyCancel"
                               placeholder="Причина отмены" style="padding-left: 15px">
                    </div>
                </div>
            </div>

            <div class="modal-footer modal-footer_clearance justify-content-between">
                <button type="button" class="button_grey_clearance"
                        data-bs-dismiss="modal"
                        onclick="$('#sendFileModal').modal('hide');">Отмена
                </button>
                <button class="button_blue_clearance button_blue_clearance_send_file" type="submit">
                    Сохранить
                </button>
            </div>
        </form>
    </div>
</div>

<script>

    $('#TypeWorkTask_id').change(function () {
            var selectedIndex = $('#TypeWorkTask_id').prop('selectedIndex');
            console.log('selectedIndex', selectedIndex)
            if (selectedIndex == 0) {
                $('#WhyCancel').removeClass('d-none')
                $('#WhyCancel').addClass('d-flex')
            } else {
                $('#WhyCancel').removeClass('d-flex')
                $('#WhyCancel').addClass('d-none')
            }
        }
    )

    $('#download_file').click(function () {
        $('#TypeWorkTask_id').prop('selectedIndex', 2)
    })

    $('#change_task').click(function (e) {
        e.preventDefault();
        var form_url = $("#changeDetailModalWindow").attr("data-ajax-url")
        var obj_id = $("#change_task").attr("data-ajax-id")
        console.log(form_url)
        $.ajax({
            type: "GET",
            url: form_url,
            data: {'obj_id': obj_id},
            success: function (data) {
                $("#changeDetailModalWindow").html(data)
                $('#detailModalWindow').modal('hide');
                $('#changeDetailModalWindow').modal('show');
            }
        })
    })

    {#$('#changeDetailModalWindow').modal('show');#}
    $('#change_lists').click(function (e) {
        e.preventDefault();
        var form_url = $("#changeDetailListsModalWindow").attr("data-ajax-url")
        var obj_id = $("#change_lists").attr("data-ajax-id")
        console.log(form_url)
        $.ajax({
            type: "GET",
            url: form_url,
            data: {'obj_id': obj_id},
            success: function (data) {
                $("#changeDetailListsModalWindow").html(data)
                $('#detailModalWindow').modal('hide');
                $('#changeDetailListsModalWindow').modal('show');
            }
        })
    })

    $(function () {
        // инициализации подсказок для всех элементов на странице, имеющих атрибут data-toggle="tooltip"
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('#form_send_status_file').submit(function (e) {
        e.preventDefault()
        document.getElementById('obj_id_for_change_status').value = $("#hidden-div-obj-info").attr("data-ajax-change")
        var form = $(this)
        var form_url = $("#detailModalWindow").attr("data-ajax-url")

        $.ajax({
            type: "POST",
            url: form_url,
            data: form.serialize(),
            success: function (data) {
                $('#detailModalWindow').modal('hide');
            }
        })
    })

    $('.service').click(function (e) {
        e.preventDefault();
    });
</script>
