<div class="d-flex flex-column mt-5 inside_result">

    <div class="d-flex text-32px-bold">
        Готово
    </div>
    <div class="d-flex flex-row mt-3">
        <div class="d-flex text-20px-regular">Допуск:&nbsp;</div>
        <div class="d-flex text-20px-bold">{{ clearance }} мм</div>
    </div>
    {#    <div class="d-flex flex-row">#}
    {#        <div class="d-flex text-18px-regular">Всего загружено файлов:&nbsp;</div>#}
    {#        <div class="d-flex text-18px-bold">{{ files_count }}</div>#}
    {#    </div>#}
    <div class="d-flex flex-row">
        <div class="d-flex text-20px-regular">PDF файлов:&nbsp;</div>
        <div class="d-flex text-20px-bold">{{ good_files }} из {{ files_count }}</div>
    </div>
    {#    <div class="d-flex flex-row">#}
    {#        <div class="d-flex text-18px-regular">Всего листов в файлах:&nbsp;</div>#}
    {#        <div class="d-flex text-18px-bold">{{ all_lists_count }}</div>#}
    {#    </div>#}
    <div class="d-flex flex-row">
        <div class="d-flex text-20px-regular">Распознано листов:&nbsp;</div>
        <div class="d-flex text-20px-bold">{{ all_lists_approve }} из {{ all_lists_count }}</div>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex text-20px-regular">Всего форматов А4:&nbsp;</div>
        <div class="d-flex text-20px-bold">{{ all_files_format }}</div>
    </div>


    <div class="accordion w-100" id="accordion" style="margin-top: 60px">
        {#    <div class="accordion w-100 mt-5" id="accordion">#}
        {% for key, value in exit_dict.items %}
            <div class="accordion-item" style="margin-top: 6px">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne{{ forloop.counter }}">
                    <div class="accordion-button {% if files_count > 1 %}collapsed{% endif %}" type="button"
                         data-bs-toggle="collapse"
                         data-bs-target="#panelsStayOpen-collapseOne{{ forloop.counter }}"
                         {% if files_count > 1 %}aria-expanded="false"
                         {% else %}aria-expanded="true"
                         {% endif %}
                         aria-controls="panelsStayOpen-collapseOne{{ forloop.counter }}"
                         data-bs-parent="#accordion"
                            {% if value.error %}
                         style="background-color: rgb(255, 243, 243); cursor: context-menu"
                            {% else %}
                         style="background-color: rgb(242, 249, 255)"
                            {% endif %}
                         id="accordion{{ forloop.counter }}"
                    >
                        {% if value.error %}
                            <script>
                                $('#accordion{{ forloop.counter }}').addClass('without-after-element');
                            </script>
                        {% endif %}
                        <div class="w-100 d-flex flex-row justify-content-between">
                            <div class="d-flex">
                                <span class="d-flex text-20px-regular">{{ forloop.counter }}.&nbsp;</span>
                                <span class="d-flex text-20px-regular">{{ key }}</span>
                            </div>
                            <span class="d-none d-md-flex red_text_error noselect">{% if value.error %}Файл не распознан
                                как
                                PDF{% endif %}</span>
                        </div>
                    </div>
                </h2>

                <div id="panelsStayOpen-collapseOne{{ forloop.counter }}"
                     class="accordion-collapse {% if files_count > 1 %}collapse{% endif %}{% if files_count == 0 %}collapse show{% endif %}"
                     aria-labelledby="panelsStayOpen-headingOne{{ forloop.counter }}">
                    {% if value.error != 1 %}
                        <div class="accordion-body">
                            {% if value.error != 1 %}
                                <div class="d-flex w-100 flex-lg-row flex-wrap flex-lg-nowrap">
                                    <div class="d-flex flex-column flex-lg-row row__color">
                                        <div class="d-flex flex-column border_right">
                                            <div class="col d-flex flex-column green_el">
                                                <div class="d-flex text-20px-regular">Распознанные&nbspформаты</div>
                                                <div class="d-flex flex-wrap" style='margin-top: 13px'>
                                                    {% for keey_size, count in value.items %}
                                                        {% if keey_size != 'count_pages' and keey_size != 'pdf_unknown_size_file' and keey_size != 'good_lists' and keey_size != 'len_pdf_unknown_size_file' and keey_size != 'list_pages' and keey_size != 'normal_pages' and keey_size != 'a4_count' and keey_size != 'error' %}
                                                            <div class="col-5 text-20px-light">{{ keey_size }}:&nbsp;<span
                                                                    class="text-20px-regular">{{ count }}</span></div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <div class="col d-flex flex-column red_el">
                                                <div class="d-flex text-20px-regular">Нераспознанные&nbspформаты</div>
                                                <div class="d-flex flex-column" style='margin-top: 13px'>
                                                    {% if value.len_pdf_unknown_size_file != 0 %}
                                                        {% for keey_size, count in value.pdf_unknown_size_file.items %}
                                                            <div class="text-20px-light">{{ keey_size }}:&nbsp;<span
                                                                    class="text-20px-regular">{{ count }}</span></div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="text-20px-light">Отсутствуют</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col d-flex flex-column justify-content-between">
                                        <div class="d-flex flex-column border_left count_margin_top">
                                            <div class="text-20px-light">Количество листов:&nbsp;<span
                                                    class="text-20px-regular">{{ value.count_pages }}</span></div>
                                            <div class="text-20px-light">Распознано листов:&nbsp;<span
                                                    class="text-20px-regular">{{ value.normal_pages }}</span></div>
                                            <div class="text-20px-light">Количество форматов А4:&nbsp;<span
                                                    class="text-20px-regular">{{ value.a4_count }}</span></div>
                                        </div>
                                        <div class="d-flex flex-column mt-3 div__button_info">
                                            <button type="button" class="d-flex button_blue_details_outline"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#detailFileInfo{{ forloop.counter }}">
                                                Информация о листах
                                            </button>
                                            {% comment %}
                                            <button type="button" class="d-flex mt-3 button_blue_details_outline"
                                                    data-ajax-name='{{ key }}'
                                                    data-ajax-url="{% url 'get-blanc' %}"
                                                    data-ajax-json ='{{ value.good_lists }}'
                                                    onclick="downloadBlanc(this)">
                                                Заявка на печать
                                            </button>

                                            <button type="button" class="d-flex button_blue_details_outline button_blue_details_outline_word"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#detailFileInfo{{ forloop.counter }}">
                                                <i class="fa icon-pen-menu"></i>
                                            </button>
{% endcomment %}
                                            {% if user.is_authenticated %}
                                                <button type="button" class="d-flex mt-3 button_blue_details_outline"
                                                        data-ajax-name='{{ key }}'
{#                                                        data-ajax-url="{% url 'get-blanc' %}"#}
                                                        data-ajax-count-pages = "{{ value.count_pages }}"
                                                        data-ajax-json='{{ value.good_lists }}'
                                                        data-ajax-a4formats='{{ value.a4_count }}'
                                                        data-ajax-all-file-lists = '{{ value.list_pages }}'
                                                        data-ajax-bad-json='{{ value.pdf_unknown_size_file }}'
                                                        onclick="sendFile(this)">
                                                    Отправить на печать
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>


                                </div>

                            {% else %}
                                <div class="d-flex">
                                    <div class="text-18px-regular">Файл не является PDF файлом</div>
                                </div>
                            {% endif %}


                            <!-- Модальное окно для {{ key }}-->

                            <div class="modal fade" id="detailFileInfo{{ forloop.counter }}" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                    <div class="modal-content modal-content_details">
                                        <div class="modal-header modal-header_details">
                                            <h5 class="modal-title">{{ forloop.counter }}. {{ key }}</h5>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>

                                        </div>
                                        <div class="modal-body d-flex justify-content-center w-100 scroll scroll-width-thin">
                                            <div class="d-flex w-100 justify-content-center">
                                                <table id="example" class="table table-hover table_result_info">
                                                    <thead>
                                                    <tr>
                                                        <th class="th_info">№</th>
                                                        <th class="th_info">Размер листа</th>
                                                        <th class="th_info">Формат</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% for list in value.list_pages %}
                                                        {% if list.2 == 0 %}
                                                            <tr style="background-color: rgb(255, 243, 243);">
                                                                {% else %}
                                                            <tr>
                                                        {% endif %}

                                                    <td class="td_info">{{ forloop.counter }}</td>
                                                    <td class="td_info">{{ list.0 }}*{{ list.1 }}</td>
                                                    {% if list.2 != 0 %}
                                                        <td class="td_info">{{ list.2 }}</td>
                                                    {% else %}
                                                        <td class="td_info">Не определен</td>
                                                    {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="d-flex mt-5 w-100 mb-5">
        <button onclick="clearResult()" class="button_blue_clean_result">Очистить
            результат
        </button>
    </div>


</div>


<script>
    //Перемещение окна
    $('.modal-dialog').draggable({
        handle: ".modal-header"
    });
    let allFiles = new DataTransfer()

    //Значение допуска печатаем в консоль для проверки
    $(function () {
        var cookieObjectValue = (document.cookie.match('(^|; )' + encodeURIComponent('clearance') + '=([^;]+)') || []).pop() || null;
        console.log(cookieObjectValue)
        var fileInput = document.getElementById('id_file')
        console.log('fileInput.files', fileInput.files)
        for (let i = 0; i < fileInput.files.length; i++) {
            const file = fileInput.files[i]
            allFiles.items.add(file)
        }
        console.log('allFiles.files', allFiles.files)
    })


    function onClickDetails() {
        $('#detailFileInfo').modal('show');

    }

    function clearResult() {
        $('#id_file').val('');

        $('#inside').animate({opacity: 0}, 200)
        $('#inside').removeClass('d-flex')
        $('#inside').addClass('d-none')
        $('#all_file_block').addClass('align-items-center')
        $('#all_file_block').addClass('justify-content-center')
        $('#form_send_file').addClass('align-items-center')
        $('#form_send_file').addClass('justify-content-center')

        $('body').removeClass('grey_background')
        $('#start_body').removeClass('d-none')
        $('#clearance_info').removeClass('d-none')
        $('#start_body').addClass('d-flex')
        $('#clearance_info').addClass('d-flex')
        $('#start_body').animate({opacity: 1}, 400)
        $('#clearance_info').animate({opacity: 1}, 400)

        status_calc = 0
    }

    function downloadBlanc(blancName) {
        var name_file = $(blancName).attr("data-ajax-name")
        var url_blanc = $(blancName).attr("data-ajax-url")
        var data_ajax_json = $(blancName).attr("data-ajax-json")
        console.log(blancName)
        console.log(name_file)
        console.log(url_blanc)
        console.log(data_ajax_json)
        console.log(data_ajax_all_file_lists)

        $.ajax({
            type: "GET",// формируем AJAX запрос
            url: url_blanc,                    // подгружаем URL адрес для запроса
            data: {
                'file_name': name_file,
                'json': data_ajax_json// добавляем objectID в query параметры GET запроса
            },
            success: function (data) {   // `data` результат выполнения  функции `load_contract`
                console.log('Done')
            }
        })
    }


    function sendFile(el) {
        document.getElementById('temp_file_name').innerText = $(el).attr("data-ajax-name")
        document.getElementById('temp_file_json').value = $(el).attr("data-ajax-json")
        document.getElementById('temp_file_bad_json').value = $(el).attr("data-ajax-bad-json")
        document.getElementById('temp_file_count_pages').value = $(el).attr("data-ajax-count-pages")
        document.getElementById('temp_file_a4_formats').value = $(el).attr("data-ajax-a4formats")
        document.getElementById('temp_all_lists_file').value = $(el).attr("data-ajax-all-file-lists")
        {#$('#temp_file_name').innerText()#}
        $('#sendFileModal').modal('show');

    }

    $('#form_send_one_file').submit(function (e) {
            e.preventDefault()
            {
                var fileInput = document.getElementById('id_file')
                console.log(fileInput.files)
                console.log(allFiles.files)
                {#console.log(el)#}
                var inputSendFile = document.getElementById('send_file')
                let sendfile = new DataTransfer()
                var name_file = $('#temp_file_name').text()
                console.log('name_file', name_file)

                for (let i = 0; i < allFiles.files.length; i++) {
                    const file = fileInput.files[i]
                    if (file.name === name_file) {
                        sendfile.items.add(file)
                    }
                }
                inputSendFile.files = sendfile.files
                console.log('sendfile', sendfile.files);
                console.log('inputSendFile', inputSendFile.files)

                var url = $(inputSendFile).attr('data-ajax-url')
                var data = new FormData($('#form_send_one_file').get(0))


                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log('done')
                        $('#sendFileModal').modal('hide');
                        $('#good_send_modal').modal('show');
                    },
                    error: function () {
                        $('#sendFileModal').modal('hide');
                        $('#bad_send_modal').modal('show');
                    }
                })


            }
        }
    )
</script>