<div class="d-flex flex-column mt-5 inside_result">

    <div class="d-flex text-32px-bold">
        Готово
    </div>
    <div class="d-flex flex-row mt-3">
        <div class="d-flex text-20px-regular">Допуск:&nbsp;</div>
        <div class="d-flex text-20px-bold">{{ clearance }} мм</div>
    </div>
    {#    <div class="d-flex flex-row">#}
    {#        <div class="d-flex text-18px-regular">Всего загружено файлов:&nbsp;</div>#}
    {#        <div class="d-flex text-18px-bold">{{ files_count }}</div>#}
    {#    </div>#}
    <div class="d-flex flex-row">
        <div class="d-flex text-20px-regular">PDF файлов:&nbsp;</div>
        <div class="d-flex text-20px-bold">{{ good_files }} из {{ files_count }}</div>
    </div>
    {#    <div class="d-flex flex-row">#}
    {#        <div class="d-flex text-18px-regular">Всего листов в файлах:&nbsp;</div>#}
    {#        <div class="d-flex text-18px-bold">{{ all_lists_count }}</div>#}
    {#    </div>#}
    <div class="d-flex flex-row">
        <div class="d-flex text-20px-regular">Распознано листов:&nbsp;</div>
        <div class="d-flex text-20px-bold">{{ all_lists_approve }} из {{ all_lists_count }}</div>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex text-20px-regular">Всего форматов А4:&nbsp;</div>
        <div class="d-flex text-20px-bold">{{ all_files_format }}</div>
    </div>


    <div class="accordion w-100" id="accordion" style="margin-top: 60px">
        {#    <div class="accordion w-100 mt-5" id="accordion">#}
        {% for key, value in exit_dict.items %}
            <div class="accordion-item" style="margin-top: 6px">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne{{ forloop.counter }}">
                    <div class="accordion-button {% if files_count > 1 %}collapsed{% endif %}" type="button"
                         data-bs-toggle="collapse"
                         data-bs-target="#panelsStayOpen-collapseOne{{ forloop.counter }}" aria-expanded="false"
                         aria-controls="panelsStayOpen-collapseOne{{ forloop.counter }}"
                         data-bs-parent="#accordion"
                            {% if value.error %}
                         style="background-color: rgb(255, 243, 243); cursor: context-menu"
                            {% else %}
                         style="background-color: rgb(242, 249, 255)"
                            {% endif %}
                         id="accordion{{ forloop.counter }}"
                    >
                        {% if value.error %}
                            <script>
                                console.log('sdfs')
                                $('#accordion{{ forloop.counter }}').addClass('without-after-element');
                            </script>
                        {% endif %}
                        <div class="w-100 d-flex flex-row justify-content-between">
                            <span class="d-flex text-20px-regular">{{ forloop.counter }}. {{ key }}</span>
                            <span class="d-flex red_text_error noselect">{% if value.error %}Файл не распознан как
                                PDF{% endif %}</span>
                        </div>
                    </div>
                </h2>

                <div id="panelsStayOpen-collapseOne{{ forloop.counter }}"
                     class="accordion-collapse {% if files_count > 1 %}collapse{% endif %}{% if files_count == 0 %}{% endif %}"
                     aria-labelledby="panelsStayOpen-headingOne{{ forloop.counter }}">
                    {% if value.error != 1 %}
                        <div class="accordion-body">
                            {% if value.error != 1 %}
                                <div class="d-flex w-100 flex-lg-row flex-wrap flex-lg-nowrap">
                                    <div class="d-flex flex-column flex-lg-row row__color">
                                        <div class="d-flex flex-column border_right">
                                            <div class="col d-flex flex-column green_el">
                                                <div class="d-flex text-20px-regular">Распознанные&nbspформаты</div>
                                                <div class="d-flex flex-wrap" style='margin-top: 13px'>
                                                    {% for keey_size, count in value.items %}
                                                        {% if keey_size != 'count_pages' and keey_size != 'pdf_unknown_size_file' and keey_size != 'len_pdf_unknown_size_file' and keey_size != 'list_pages' and keey_size != 'normal_pages' and keey_size != 'a4_count' and keey_size != 'error' %}
                                                            <div class="col-5 text-20px-light">{{ keey_size }}:&nbsp;<span
                                                                    class="text-20px-regular">{{ count }}</span></div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <div class="col d-flex flex-column red_el">
                                                <div class="d-flex text-20px-regular">Нераспознанные&nbspформаты</div>
                                                <div class="d-flex flex-column" style='margin-top: 13px'>
                                                    {% if value.len_pdf_unknown_size_file != 0 %}
                                                        {% for keey_size, count in value.pdf_unknown_size_file.items %}
                                                            <div class="text-20px-light">{{ keey_size }}:&nbsp;<span
                                                                    class="text-20px-regular">{{ count }}</span></div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="text-20px-light">Отсутствуют</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col d-flex flex-column justify-content-between">
                                        <div class="d-flex flex-column border_left count_margin_top">
                                            <div class="text-20px-light">Количество листов:&nbsp;<span
                                                    class="text-20px-regular">{{ value.count_pages }}</span></div>
                                            <div class="text-20px-light">Распознано листов:&nbsp;<span
                                                    class="text-20px-regular">{{ value.normal_pages }}</span></div>
                                            <div class="text-20px-light">Количество форматов А4:&nbsp;<span
                                                    class="text-20px-regular">{{ value.a4_count }}</span></div>
                                        </div>
                                        <div class="d-flex mt-3 div__button_info">
                                            <button type="button" class="button_blue_details_outline"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#detailFileInfo{{ forloop.counter }}">
                                                Информация о листах
                                            </button>
                                        </div>
                                    </div>


                                </div>

                            {% else %}
                                <div class="d-flex">
                                    <div class="text-18px-regular">Файл не является PDF файлом</div>
                                </div>
                            {% endif %}


                            <!-- Модальное окно для {{ key }}-->

                            <div class="modal fade" id="detailFileInfo{{ forloop.counter }}" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                    <div class="modal-content modal-content_details">
                                        <div class="modal-header modal-header_details">
                                            <h5 class="modal-title">{{ forloop.counter }}. {{ key }}</h5>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>

                                        </div>
                                        <div class="modal-body d-flex justify-content-center w-100 scroll scroll-width-thin">
                                            <div class="d-flex w-100 justify-content-center">
                                                <table id="example" class="table table-hover table_result_info">
                                                    <thead>
                                                    <tr>
                                                        <th class="th_info">№</th>
                                                        <th class="th_info">Размер листа</th>
                                                        <th class="th_info">Формат</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% for list in value.list_pages %}
                                                        {% if list.2 == 0 %}
                                                            <tr style="background-color: rgb(255, 243, 243);">
                                                                {% else %}
                                                            <tr>
                                                        {% endif %}

                                                    <td class="td_info">{{ forloop.counter }}</td>
                                                    <td class="td_info">{{ list.0 }}*{{ list.1 }}</td>
                                                    {% if list.2 != 0 %}
                                                        <td class="td_info">{{ list.2 }}</td>
                                                    {% else %}
                                                        <td class="td_info">Не определен</td>
                                                    {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {% comment %}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                                </button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="d-flex mt-5 w-100 mb-5">
        <button onclick="clearResult()" class="button_blue_clean_result">Очистить
            результат
        </button>
    </div>


</div>

<script>
    //Перемещение окна
    $('.modal-dialog').draggable({
        handle: ".modal-header"
    });

    //Значение допуска печатаем в консоль для проверки
    $(function () {
        var cookieObjectValue = (document.cookie.match('(^|; )' + encodeURIComponent('clearance') + '=([^;]+)') || []).pop() || null;
        console.log(cookieObjectValue)
    })


    function onClickDetails() {
        $('#detailFileInfo').modal('show');

    }

    function clearResult() {
        $('#id_file').val('');

        $('#inside').animate({opacity: 0}, 200)
        $('#inside').removeClass('d-flex')
        $('#inside').addClass('d-none')
        $('#all_file_block').addClass('align-items-center')
        $('#all_file_block').addClass('justify-content-center')
        $('#form_send_file').addClass('align-items-center')
        $('#form_send_file').addClass('justify-content-center')

        $('body').removeClass('grey_background')
        $('#start_body').removeClass('d-none')
        $('#clearance_info').removeClass('d-none')
        $('#start_body').addClass('d-flex')
        $('#clearance_info').addClass('d-flex')
        $('#start_body').animate({opacity: 1}, 400)
        $('#clearance_info').animate({opacity: 1}, 400)

        status_calc = 0
    }
</script>