<div class="d-flex flex-column w-100 mt-5">

    <div class="d-flex text-36px-bold" style="text-transform: uppercase">
        Готово
    </div>
    <div class="d-flex flex-row mt-3">
        <div class="d-flex text-18px-regular">Допуск/погрешность:&nbsp;</div>
        <div class="d-flex text-18px-bold">{{ clearance }} мм</div>
    </div>
    {#    <div class="d-flex flex-row">#}
    {#        <div class="d-flex text-18px-regular">Всего загружено файлов:&nbsp;</div>#}
    {#        <div class="d-flex text-18px-bold">{{ files_count }}</div>#}
    {#    </div>#}
    <div class="d-flex flex-row">
        <div class="d-flex text-18px-regular">Обработано файлов:&nbsp;</div>
        <div class="d-flex text-18px-bold">{{ good_files }} из {{ files_count }}</div>
    </div>
    {#    <div class="d-flex flex-row">#}
    {#        <div class="d-flex text-18px-regular">Всего листов в файлах:&nbsp;</div>#}
    {#        <div class="d-flex text-18px-bold">{{ all_lists_count }}</div>#}
    {#    </div>#}
    <div class="d-flex flex-row">
        <div class="d-flex text-18px-regular">Распознано листов:&nbsp;</div>
        <div class="d-flex text-18px-bold">{{ all_lists_approve }} из {{ all_lists_count }}</div>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex text-18px-regular">Всего форматов А4:&nbsp;</div>
        <div class="d-flex text-18px-bold">{{ all_files_format }}</div>
    </div>


    <div class="accordion w-100 mt-5" id="accordion">
        {% for key, value in exit_dict.items %}
            <div class="accordion-item mt-2">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne{{ forloop.counter }}">
                    <button class="accordion-button {% if files_count > 1 %}collapsed{% endif %}" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne{{ forloop.counter }}" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseOne{{ forloop.counter }}"
                            data-bs-parent="#accordion"
                            {% if value.error %}
                            style="background-color: rgba(227,84,84,0.05);"
                            {% else %}
                            style="background-color: rgba(108, 172, 228,0.07)"
                            {% endif %}
                    >
                        <div class="text-18px-light">{{ forloop.counter }}) {{ key }}</div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne{{ forloop.counter }}"
                     class="accordion-collapse {% if files_count > 1 %}collapse{% endif %}{% if files_count == 0 %}{% endif %}"
                     aria-labelledby="panelsStayOpen-headingOne{{ forloop.counter }}">
                    <div class="accordion-body">
                        {% for keey_size, count in value.items %}
                            {% if keey_size != 'count_pages' and keey_size != 'list_pages' and keey_size != 'normal_pages' and keey_size != 'a4_count' and keey_size != 'error' %}
                                <div class="text-18px-light">{{ keey_size }} - {{ count }}</div>
                            {% endif %}
                        {% endfor %}

                        {% if value.error != 1 %}
                            <div class="d-flex flex-row justify-content-between mt-3">
                                <div class="d-flex flex-column align-items-center justify-content-center" style="text-align: center">
                                    <div class="text-18px-regular">Количество <br> листов</div>
                                    <div class="text-36px-bold">{{ value.count_pages }}</div>
                                </div>
                                <div class="d-flex flex-column align-items-center justify-content-center" style="text-align: center">
                                    <div class="text-18px-regular">Распознано <br> листов</div>
                                    <div class="text-36px-bold">{{ value.normal_pages }} </div>
                                </div>
                                <div class="d-flex flex-column align-items-center justify-content-center" style="text-align: center">
                                    <div class="text-18px-regular">Количество <br> форматов А4</div>
                                    <div class="text-36px-bold">{{ value.a4_count }}</div>
                                </div>
                            </div>
                            <div class="d-flex w-100 justify-content-center align-items-center">
                                <button type="button" class="button_blue_modal_outline" data-bs-toggle="modal"
                                        data-bs-target="#detailFileInfo{{ forloop.counter }}"
                                        style="width: 20%">
                                    Информация по листам
                                </button>
                            </div>
                        {% else %}
                            <div class="d-flex">
                                <div class="text-18px-regular">Файл не является PDF файлом</div>
                            </div>
                        {% endif %}


                        <!-- Модальное окно для {{ key }}-->

                        <div class="modal fade" id="detailFileInfo{{ forloop.counter }}" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ key }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% for list in value.list_pages %}
                                            {{ forloop.counter }}{{ list }}<br>
                                        {% endfor %}
                                    </div>
{#                                    <div class="modal-footer">#}
{#                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close#}
{#                                        </button>#}
{#                                        <button type="button" class="btn btn-primary">Save changes</button>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>


    <div class="d-flex mt-5 w-100 mb-5">
        <button onclick="clearResult()" class="button_blue_modal_outline" style="height: 50px; width: 100%">Очистить
            результат
        </button>
    </div>


</div>

<script>
    $(function () {
        var cookieObjectValue = (document.cookie.match('(^|; )' + encodeURIComponent('clearance') + '=([^;]+)') || []).pop() || null;
        console.log(cookieObjectValue)
    })

    function onClickDetails() {
        $('#detailFileInfo').modal('show');

    }

    function clearResult() {
        $('#inside').removeClass('d-flex')
        $('#inside').addClass('d-none')
        $('#inside').animate({opacity: 0}, 200)
        $('#all_file_block').addClass('align-items-center')
        $('#all_file_block').addClass('justify-content-center')
        $('#form_send_file').addClass('align-items-center')
        $('#form_send_file').addClass('justify-content-center')
        $('body').removeClass('grey_background')
        $('#start_body').addClass('d-flex')
        $('#clearance_info').addClass('d-flex')
        $('#start_body').removeClass('d-none')
        $('#clearance_info').removeClass('d-none')
        $('#start_body').animate({opacity: 1}, 200)
        $('#id_file').val('');
        status_calc = 0
    }
</script>