<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {#    {% load phonebook_tags %}#}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'page_calculator_app/favicon/Calculator_30001.png' %}"
          sizes="any">
    <link rel="stylesheet" type="text/css"
          href="{% static 'page_calculator_app/DataTables/datatables.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'page_calculator_app/Bootstrap-5-5.1.3/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'page_calculator_app/css/page_calculator.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'page_calculator_app/css/scroll-panel.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'page_calculator_app/css/loader-big.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'page_calculator_app/css/style_sidebar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'page_calculator_app/jQuery-ui/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'page_calculator_app/select2/select2.min.css' %}"/>


    <script type="text/javascript" src="{% static 'page_calculator_app/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'page_calculator_app/Bootstrap-5-5.1.3/js/bootstrap.bundle.js' %}"></script>
    {% block css_script %}
    {% endblock %}

    <script type="text/javascript"
            src="{% static 'page_calculator_app/jQuery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'page_calculator_app/select2/select2.min.js' %}"></script>

</head>


<body class="content-fade">

{% if user.is_authenticated %}
    {% include "page_calculator_app/sidebar.html" %}
{% endif %}

<a href="#" id="scroll_top">
    <div style="display: flex; flex-direction: row; align-items: center">
        <div class="up-icon"></div>
        <span>Наверх</span>
    </div>
</a>

<div class="d-flex container back-search min-vh-100">
    {% block content %}
    {% endblock %}
</div>

</body>


<script>
    // подключение переноса модальных окон
    $('.modal-dialog').draggable({
        handle: ".modal-header"
    });

    // боковая кнопка прокрутки наверх
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                $('#scroll_top').show()
                $('#scroll_top').css('display', 'flex');
            } else {
                $('#scroll_top').hide();
            }
        });

        $('#scroll_top').click(function () {
            $('html, body').animate({scrollTop: 0}, 600);
            return false;
        });
    });

</script>

</html>