{% extends "page_calculator_app/base.html" %}
{% load static %}
{% block title %}
    Jkjj
{% endblock %}



{% block content %}
    <div class="d-flex flex-column w-100 align-items-center justify-content-center" id="all_file_block">
        <form method="POST" class="my_form d-flex w-100 flex-column align-items-center justify-content-center"
              id="form_send_file"
              enctype="multipart/form-data">
            <div class="w-50 d-flex flex-column" id="start_body">
                <div class="d-flex w-100 align-items-center justify-content-center">
                    <div class="d-flex text-36px-bold" style="text-transform: uppercase">
                        Подсчет листов и форматов
                    </div>

                </div>

                <div class="d-flex w-100">
                    {% csrf_token %}
                    {{ form }}
                    <!-- <button type="submit">ok</button> -->
                </div>
            </div>

            <div class="d-none w-100" id="inside" style="opacity: 0" data-ajax-url="{% url 'get-answer' %}">

            </div>


        </form>

        <div id="loader-big" class=" w-100 align-items-center justify-content-center d-none flex-column">
            {#            <p class="text-18px-bold d-flex" style="color: #202022">Работаем</p>#}
            <span class="loader-big d-flex"></span>
        </div>

        <div id="drop_file" class=" w-100 align-items-center justify-content-center d-none flex-column">
            {#            <p class="text-18px-bold d-flex" style="color: #202022">Отпустите файл здесь</p>#}
            <span class="drop_file d-flex"></span>
        </div>


    </div>
    <script>

        const dropZone = document.body;
        let status_calc = 0;

        if (dropZone) {
            let hoverClassName = 'hover';

            dropZone.addEventListener("dragenter", function (e) {
                e.preventDefault();
                dropZone.classList.add(hoverClassName);
                $('#start_body').removeClass('d-flex')
                $('#start_body').addClass('d-none')
                $('#inside').removeClass('d-flex')
                $('#inside').addClass('d-none')

                $('#all_file_block').addClass('align-items-center')
                $('#all_file_block').addClass('justify-content-center')
                $('#form_send_file').addClass('align-items-center')
                $('#form_send_file').addClass('justify-content-center')
                $('#drop_file').removeClass('d-none')
                $('#drop_file').addClass('d-flex')
                $('body').addClass('grey_background')
                console.log('dragenter event')
            });

            dropZone.addEventListener("dragend", function (e) {
                e.preventDefault();
                dropZone.classList.add(hoverClassName);
                if (status_calc === 0) {
                    $('#start_body').removeClass('d-none')
                    $('#start_body').addClass('d-flex')
                    $('body').removeClass('grey_background')
                } else {
                    $('#all_file_block').removeClass('align-items-center')
                    $('#all_file_block').removeClass('justify-content-center')
                    $('#form_send_file').removeClass('align-items-center')
                    $('#form_send_file').removeClass('justify-content-center')
                    $('#inside').removeClass('d-none')
                    $('#inside').addClass('d-flex')
                    $('body').removeClass('grey_background')
                }
                $('#drop_file').removeClass('d-flex')
                $('#drop_file').addClass('d-none')
                console.log('dragend event')
            });

            dropZone.addEventListener("dragover", function (e) {
                e.preventDefault();
                $('#start_body').removeClass('d-flex')
                $('#start_body').addClass('d-none')
                $('#inside').removeClass('d-flex')
                $('#inside').addClass('d-none')

                $('#all_file_block').addClass('align-items-center')
                $('#all_file_block').addClass('justify-content-center')
                $('#form_send_file').addClass('align-items-center')
                $('#form_send_file').addClass('justify-content-center')
                $('#drop_file').removeClass('d-none')
                $('#drop_file').addClass('d-flex')
                $('body').addClass('grey_background')

                console.log('dragover event')
                dropZone.classList.add(hoverClassName);
            });

            dropZone.addEventListener("dragleave", function (e) {
                e.preventDefault();
                console.log('dragleave event')
                if (status_calc === 0) {
                    $('#start_body').removeClass('d-none')
                    $('#start_body').addClass('d-flex')
                } else {
                    $('#all_file_block').removeClass('align-items-center')
                    $('#all_file_block').removeClass('justify-content-center')
                    $('#form_send_file').removeClass('align-items-center')
                    $('#form_send_file').removeClass('justify-content-center')
                    $('#inside').removeClass('d-none')
                    $('#inside').addClass('d-flex')
                }
                $('body').removeClass('grey_background')
                $('#drop_file').removeClass('d-flex')
                $('#drop_file').addClass('d-none')
                {#$('#start_body').removeClass('d-flex')#}
                {#$('#start_body').addClass('d-none')#}
                dropZone.classList.remove(hoverClassName);

            });

            // Это самое важное событие, событие, которое дает доступ к файлам
            dropZone.addEventListener("drop", function (e) {
                e.preventDefault();
                $('body').addClass('grey_background')
                dropZone.classList.remove(hoverClassName);
                var fileInput = document.getElementById('id_file')
                fileInput.files = e.dataTransfer.files;
                $('#form_send_file').submit();
            });
        }

        $('#id_file').change(function () {
            console.log('asdsad')
            $('#form_send_file').submit();
            //sendFile()
        });

        $('#form_send_file').submit(function (e) {
            $('#start_body').removeClass('d-flex')
            $('#start_body').addClass('d-none')
            $('#drop_file').removeClass('d-flex')
            $('#drop_file').addClass('d-none')
            $('body').addClass('grey_background')
            $('#loader-big').removeClass('d-none')
            $('#loader-big').addClass('d-flex')
            e.preventDefault()
            var data = new FormData($('#form_send_file').get(0))
            //var form = $(this)
            var form_send_file = $("#inside").attr("data-ajax-url")
            console.log('form_send_file')
            $.ajax({
                type: "POST",
                url: form_send_file,
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    $("#inside").html(data)
                    $('#loader-big').removeClass('d-flex')
                    $('#loader-big').addClass('d-none')
                    $('#inside').removeClass('d-none')
                    $('#all_file_block').removeClass('align-items-center')
                    $('#all_file_block').removeClass('justify-content-center')
                    $('#form_send_file').removeClass('align-items-center')
                    $('#form_send_file').removeClass('justify-content-center')
                    $('#inside').addClass('d-flex')
                    $('#inside').animate({opacity: 1}, 200)
                    status_calc = 1
                    $('body').removeClass('grey_background')

                    $('#start_body').animate({opacity: 0}, 200)
                }
            });
        })

        /*$('#form_send_file').submit(function (e) {
            console.log('asas')
            e.preventDefault()
            let form = $('#form_send_file')
            var form_send_file = $("#form_send_file").attr("data-ajax-url")
            let Data = new FormData();
            $.ajax({
                type: "POST",
                url: form_send_file,
                data: form.serialize(),
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#inside").html(data)
                }
            });
        };

        function sendFile(){
            console.log('asas')
            e.preventDefault()
            let form = $('#form_send_file')
            var form_send_file = $("#form_send_file").attr("data-ajax-url")
            let Data = new FormData();
            $.ajax({
                type: "POST",
                url: form_send_file,
                data: form.serialize(),
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#inside").html(data)
                }
            });
        };*/
    </script>
{% endblock %}
