{% extends "page_calculator_app/base.html" %}
{% load static %}
{% block title %}
    Печать из архива
{% endblock %}

{% block content %}
    <div class="d-flex container back-search min-vh-100 w-100" style="max-width: 1000px">
        <div class="d-flex flex-column w-100">
            <div class="d-flex flex-column" id="id_title_start">
                <div class="d-flex text-32px-bold" style="margin-top: 150px">
                    Печать файла из архива
                </div>
                <div class="d-flex text-16px-light">
                    Печать альбомов из архива без прикладывания pdf файла
                </div>
            </div>
            <form method="POST" id="form-send">
                {% csrf_token %}

                <div class="d-flex flex-column justify-content-between w-100 mt-3">
                    <div class="d-flex w-100">

                        <input class="d-flex input_text_clearance input_text_clearance_paddings w-100"
                               id="inventory_number" name="inventory_number"
                               placeholder="Инвентарный номер" required>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-between w-100 mt-2">
                    <div class="d-flex w-100">

                        <input class="d-flex input_text_clearance input_text_clearance_paddings w-100"
                               id="permission_number" name="permission_number"
                               placeholder="Номер разрешения" required>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-between w-100 mt-2">
                    <div class="d-flex w-100">
                        <select class="form-select w-100"
                                name="order_id"
                                id="order_id"
                                required>
                            <option value="" selected>Заказчик</option>
                            {% for obj in orders %}
                                <option value="{{ obj.id }}">{{ obj }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-between w-100 mt-2">
                    <div class="d-flex w-100">
                        <select class="form-select w-100"
                                name="object_id"
                                id="object_id" data-contracts-url="{% url 'get-contracts' %}"
                                required>
                            <option value="" selected>Объект</option>
                            {% for obj in objects %}
                                <option value="{{ obj.id }}">{{ obj }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-between w-100" id="contract_cpe_inside">

                    <div class="d-flex w-100 mt-2">
                        <select class="form-select w-100"
                                name="contract_id"
                                id="contract_id" disabled>
                            <option selected>Договор</option>
                        </select>
                    </div>

                    <div class="d-flex flex-column justify-content-between w-100 mt-2">
                        <div class="d-flex w-100">
                            <select class="form-select" style="min-width: 300px"
                                    name="TypeWorkTask_id"
                                    id="TypeWorkTask_id" required>
                                <option value="0" selected>Вид документации (не указан)</option>
                                <option value="1">Рабочая документация</option>
                                <option value="2">Проектная документация</option>
                                <option value="3">ОБИН</option>
                                <option value="4">НИОКР</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex flex-column justify-content-between w-100 mt-2">
                        <div class="d-flex w-100">
                            <select class="form-select w-100"
                                    name="mark_id"
                                    id="mark_id" data-contracts-url="{% url 'get-contracts' %}"
                                    required>
                                <option value="" selected>Марка документации</option>
                                {% for mark in marks %}
                                    <option value="{{ mark.id }}">{{ mark }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="d-flex flex-column justify-content-between w-100 mt-2">
                        <div class="d-flex w-100">
                            <select class="form-select" style="min-width: 300px"
                                    name="purpose_of_printing"
                                    id="purpose_of_printing" required>
                                <option value="" selected>Цель вывода</option>
                                <option value="1">Для внесения изменений</option>
                                <option value="2">Для аннулирования (печать титульных листов)</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex flex-column justify-content-between w-100 mt-2">
                        <div class="d-flex w-100">

                            <input class="d-flex input_text_clearance input_text_clearance_paddings w-100"
                                   id="input_comment_value"
                                   name="input_comment_value"
                                   placeholder="Комментарий">
                        </div>
                    </div>

                    <div class="d-flex w-100 mb-2 mt-2">
                        <button class="d-flex w-100 button_blue button_blue_center" id="submit_button" type="submit" disabled>Отправить
                        </button>
                    </div>
            </form>
        </div>
    </div>

    <!-- Модальное окно успешной отправки-->
    <div class="modal fade" id="good_send_modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog_clearance">
            <div class="modal-content modal-content_clearance" id="inside_good_modal">

            </div>
        </div>
    </div>

    <!-- Модальное окно ошибки-->
    <div class="modal fade" id="error_modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog_clearance">
            <div class="modal-content modal-content_clearance">
                <div class="modal-header modal-header_clearance">
                    <h5 class="modal-title text-24px-regular" style="cursor: context-menu">Ошибка</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body modal-body_clearance">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <div class="d-flex text-20px-light">Что-то пошло не так...</div>
                    </div>
                </div>
                <div class="modal-footer modal-footer_clearance justify-content-center">

                    <button class="button_blue_clearance"
                            onclick="$('#bad_send_modal').modal('hide');">
                        Очень жаль
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>

        // При изменении объекта в окне отправке, подгрузка номеров договоров
        $("#object_id").change(function () {
            var url = $("#object_id").attr("data-contracts-url");
            var objectId = $(this).val();
            console.log(objectId)
            $.ajax({
                url: url,
                data: {
                    'object': objectId
                },
                success: function (data) {
                    console.log(data)
                    $("#contract_id").prop('disabled', false);
                    $("#contract_id").html(data);
                }
            });

        });


        let inventoryNumber = document.getElementById('inventory_number')
        inventoryNumber.addEventListener("change", (event) => {
            checkInventoryNumber()
        });

        function checkInventoryNumber() {
            if ((inventoryNumber.value[0] == 'э') || (inventoryNumber.value[0] == 'Э')){
                $("#submit_button").prop('disabled', false);
            } else {
                $("#submit_button").prop('disabled', true);
            }

        }

    </script>
{% endblock %}
