{% extends "print_service_app/base.html" %}
{% load static %}
{% block title %}
    Все заявки на печать
{% endblock %}

{% block content %}
    <div class="d-flex w-100" id="display_div">
        <div style="width: 100%">
            <div class="text-36px-bold mt-5">
                Все заявки
            </div>
            <div class="text-16px-light mt-3"> Всего задач: {{ len_all_tasks }}</div>
            <div class="mt-3">
                <table id="all-print-tasks" class="table table-hover">
                    <thead>
                    <tr>
                        <th class="th_tables" scope="col" style="width: 30px">#</th>
                        <th class="th_tables" scope="col" style="text-align: center; width: 100px">№ заявки</th>
                        <th class="th_tables" scope="col" style="text-align: center; width: 100px;">Автор</th>
                        <th class="th_tables" scope="col" style="text-align: center; width: 75px;">Заказчик</th>
                        <th class="th_tables" scope="col" style="text-align: center;width: 250px;">Объект</th>
                        <th class="th_tables" scope="col" style="text-align: center; width: 50px;">Кол-во<br>листов</th>
                        <th class="th_tables" scope="col" style="text-align: center; width: 150px;">Дата</th>
                        <th class="th_tables" scope="col" style="text-align: center; width: 150px; ">Статус</th>
                    </tr>
                    </thead>

                    <tbody id="table_inside" data-ajax-url="{% url 'get-all-task' %}">

                    </tbody>
                </table>
            </div>
            <div id="loader_tasks" class="d-flex w-100 justify-content-center">
                <div class="loader-big"></div>
            </div>
            <div class="d-flex mt-5"></div>
        </div>
    </div>
    <div id="now_value" hidden>30</div>
    <div id="len_all_tasks" hidden>{{ len_all_tasks }}</div>



    <!-- Модальное окно информации о заявка-->
    <div class="modal fade" id="detailModalWindow" data-ajax-url="{% url 'get-info-report-task-print' %}" tabindex="-1">
    </div>


    <!-- Модальное окно изменения заявки -->
    <div class="modal fade" id="changeDetailModalWindow" data-ajax-url="{% url 'get-edit-modal' %}" tabindex="-1">
    </div>

    <!-- Модальное окно изменения листов заявки -->
    <div class="modal fade" id="changeDetailListsModalWindow" data-ajax-url="{% url 'get-edit-lists-modal' %}" tabindex="-1">
    </div>


    <script>

        let pagination_value = 20

        $(document).ready(function () {
            loadContent()
        })

        function loadContent() {
            $('#loader_tasks').removeClass('d-none')
            $('#loader_tasks').addClass('d-flex')
            let now_value = Number($("#now_value").text())
            // Здесь вы можете добавить код для получения контента, например, с использованием AJAX-запроса
            // В данном примере мы просто создадим фиктивные элементы контента
            let url = $("#table_inside").attr("data-ajax-url")
            $.ajax({
                type: "GET",
                url: url,
                data: {
                    'now_value': now_value
                },
                success: function (data) {
                    $("#table_inside").html(data)
                    $("#now_value").text(now_value + pagination_value)
                    $('#loader_tasks').removeClass('d-flex')
                    $('#loader_tasks').addClass('d-none')
                }
            })
        }


        // Функция throttle будет принимать 2 аргумента:
        // - callee, функция, которую надо вызывать;
        // - timeout, интервал в мс, с которым следует пропускать вызовы.
        function throttle(callee, timeout) {
            // Таймер будет определять,
            // надо ли нам пропускать текущий вызов.
            let timer = null
            return function perform(...args) {
                // Если таймер есть, то функция уже была вызвана,
                // и значит новый вызов следует пропустить.
                if (timer) return
                // Если таймера нет, значит мы можем вызвать функцию:
                timer = setTimeout(() => {
                    // Аргументы передаём неизменными в функцию-аргумент:
                    callee(...args)
                    // По окончании очищаем таймер:
                    clearTimeout(timer)
                    timer = null
                }, timeout)
            }
        }

        const throttledDoSomething = throttle(checkScroll, 250)
        window.addEventListener('scroll', throttledDoSomething)
        {#window.addEventListener('scroll', callback);#}


        function checkScroll() {
            let now_value = Number($("#now_value").text())
            let all_value = Number($("#len_all_tasks").text()) + pagination_value
            console.log('now_value', now_value)
            console.log('all_value', all_value)
            if (now_value < all_value) {
                if ((($(window).scrollTop() + $(window).height()) + 250) >= $(document).height()) {
                    console.log('scroll_loaded')
                    loadContent()
                }
            }
        }


        /*$(document).ready(function () {
            var table = $('#all-print-tasks').DataTable({
                    {#order: [[1, 'asc']],#}
                    dom:
                    //"<'row'<'col-sm-12'tr>>",
                    //"<'row'<'col-sm-12 col-md-2'l><'col-sm-2 col-md-2 col-xxl-4'B><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        //"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>" +
                        "<'col-sm-2 col-md-2 col-xxl-2'B>",
                    "language":
                        {
                            "lengthMenu": "_MENU_",
                            "zeroRecords": "Записи не найдены",
                            "info": "Показано с _START_ по _END_ из _TOTAL_ записей",
                            "search": "Поиск",
                            "paginate": {
                                "next": "Следующая",
                                "previous": "Предыдущая"
                            }
                        },
                    "aLengthMenu": [[1, 5, 10, 15, 20, 25, -1], [1, 5, 10, 15, 20, 25, "Все"]],
                    "iDisplayLength": 15,
                    buttons: ['pdf', 'excel']
                }
            );
            table.buttons().container().appendTo($('.col-sm-6:eq(0)', table.table().container()));
            newStyleButton()
            {#newStyleButton()#}
            var all_forms = document.querySelectorAll(".form-select")
            for (var i = 0; i < all_forms.length; i++) {
                all_forms[i].style.minHeight = '0px';
            }


        });


        function newStyleButton() {
            const pdf_button = document.getElementsByClassName("btn btn-secondary buttons-pdf buttons-html5")[0]
            console.log(pdf_button);
            pdf_button.classList.remove("btn")
            pdf_button.classList.remove("btn-secondary")
            pdf_button.classList.remove("buttons-pdf")
            pdf_button.classList.remove("buttons-html5")
            pdf_button.textContent = ''
            pdf_button.classList.add("pdf_button_icon")

            const exel_button = document.getElementsByClassName("btn btn-secondary buttons-excel buttons-html5")[0]
            console.log(exel_button);
            exel_button.classList.remove("btn")
            exel_button.classList.remove("btn-secondary")
            exel_button.classList.remove("buttons-excel")
            exel_button.classList.remove("buttons-html5")
            exel_button.textContent = ''
            exel_button.classList.add("exel_button_icon")
        }
*/

        function openModalWindow(val) {
            var url = $("#detailModalWindow").attr("data-ajax-url")
            $.ajax({
                type: "GET",
                url: url,
                data: {
                    'object': val
                },
                success: function (data) {
                    $("#detailModalWindow").html(data)
                    console.log(val)
                    $('#detailModalWindow').modal('show');
                }
            })
        }
    </script>


{% endblock %}


/*href_site = window.location.href
href_ws = href_site + 'ws/some_url/'
console.log(href_ws)
var socket = new WebSocket('ws://localhost:8003/ws/some_url/')
socket.onmessage = function (event){
var data = JSON.parse(event.data)
console.log(data)
document.getElementById('display_div').innerText = data.message
document.getElementById('display_div2').innerText = data.orm_result.data
}
*/

