{% extends "print_service_app/base.html" %}
{% load static %}
{% block title %}
    Текущие задачи
{% endblock %}

{% block content %}
    <div class="d-flex w-100" id="display_div" data-ajax-url="{% url 'get-tasks-print' %}">
    </div>

    <!-- Модальное окно информации о заявка-->
    <div class="modal fade" id="detailModalWindow" data-ajax-url="{% url 'get-info-task-print' %}" tabindex="-1">
    </div>

    <!-- Модальное окно изменения заявки -->
    <div class="modal fade" id="changeDetailModalWindow" data-ajax-url="{% url 'get-edit-modal' %}" tabindex="-1">
    </div>

    <!-- Модальное окно изменения листов заявки -->
    <div class="modal fade" id="changeDetailListsModalWindow" data-ajax-url="{% url 'get-edit-lists-modal' %}"
         tabindex="-1">
    </div>

    <script>
        //Модальное окно с задачей
        function openModalWindow(val) {
            var url = $("#detailModalWindow").attr("data-ajax-url")
            $.ajax({
                type: "GET",
                url: url,
                data: {
                    'object': val
                },
                success: function (data) {
                    $("#detailModalWindow").html(data)
                    console.log(val)
                    $('#detailModalWindow').modal('show');
                }
            })
        }

        $(document).ready(function () {
            load()
        })

        // Постоянное обновление контента на странице
        function load() {
            var url = $("#display_div").attr("data-ajax-url");
            $.ajax({
                url: url,
                type: 'GET',

                success: function (data) {
                    $("#display_div").html(data)
                    setTimeout(load, 5000);
                },
                error: function (r) {
                    setTimeout(load, 5000);
                }
            });
        }
    </script>
{% endblock %}

