{% load static %}
{% load print_tags %}


<div>

    <nav class="main-menu">
        <ul>
            {% if user_permission %}
                <li>
                    <a href="{% url 'new-tasks' %}" style="vertical-align: top">

                        <i class="fa">
                            <div class="icon-home"></div>
                        </i>

                        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                           Текущие задачи
                        </span>
                    </a>

                </li>


                <li>
                    <a href="{% url 'all-tasks' %}">
                        <i class="fa">
                            <div class="icon-angle-up-solid-menu"></div>
                        </i>
                        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Все заявки
                        </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'report' %}">
                        <i class="fa">
                            <div class="icon-report-menu"></div>
                        </i>
                        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Отчеты
                        </span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'index' %}" style="vertical-align: top">

                        <i class="fa">
                            <div class="icon-home"></div>
                        </i>

                        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                           Главная страница
                        </span>
                    </a>

                </li>

            {% endif %}
            {#            <li>#}
            {#                <a href="">#}
            {#                    <i class="fa">#}
            {#                        <div class="icon-angles-up-solid-menu"></div>#}
            {#                    </i>#}
            {#                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">#}
            {#                           Все kks коды#}
            {#                        </span>#}
            {#                </a>#}
            {#            </li>#}
        </ul>

{#                            <a href="#" class="service"#}
{#                               onclick='window.open("{% url "blank" obj.id %}","Popup", "location,status,scrollbars,resizable,width=800")'>#}
{#                                Скачать</a>#}
        <ul class="logout">
            <li>
{#                <a href="#" onclick='window.open("{% url "personal-info" %}","Popup", "location,status,scrollbars,resizable,width=800")'>#}
                     <a href="{% url "personal-info" %}">
                    <i class="fa">
                        <div class="icon-user-menu"></div>
                    </i>
                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            {% get_short_name user.id %}
                        </span>
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}">
                    <i class="fa">
                        <div class="icon-power-off-menu"></div>
                    </i>
                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Выйти
                        </span>
                </a>
            </li>
        </ul>
    </nav>
    <script type="text/javascript">
    </script>
</div>